.container {
  flex-grow: 1;  
  justify-content: 'center';
  padding: 20;
  background-color: '#fff';
}
.title {
  margin-bottom: 20;
  text-align: 'center';
}
.input {
  margin-bottom: 12;
}
.button {
  margin-top: 15;
}